# Dependencies
.pnpm-store/
node_modules/

# Build & outputs
.svelte-kit/
.vite/
build-*/
build/
dist/

# Test & Reports
coverage/

# Generated manifest files and assets
static/
content/

# Misc
.DS_Store
*.log
