# Dependencies
.pnpm-store/
node_modules/

# Build & outputs
.svelte-kit/
.vite/
build-*/
build/
dist/

# Test & Reports
coverage/

# Generated manifest files (large JSON)
static/*/*.manifest.json

# Misc
.DS_Store
*.log
