{% extends "./layout-default.html" %}
{% from "./partials/_main-nav.njk" import offcanvasNav %}
{% from "./partials/_offcanvas-menu.njk" import offcanvasNav %}

{% set pageData = {
  page_id: 'israel-2022',
  template: 'index'
} %}

{% block content %}
  <main>
    {% include './partials/c-jumbo.njk' %}
    {% include './partials/c-article.njk' %}

    {% for key, item in IMAGES %}
      {% set main_loop_number = loop.index %}
      {% set images = loop %}
      <section id="day-{{ key }}">
        {% include './partials/c-day-content.njk' %}
        {% include './partials/c-gallery.njk' %}
      </section>
    {% endfor %}
  </main>
{% endblock %}

{% block footer %}
  <footer class="o-footer mt-5">
    {{ offcanvasNav(navItems,  pageData.page_id, IMAGES) }}

    <div class="container">
      <div class="copyright small text-center">{{ SITE.copyright | safe }}</div>
    </div>
  </footer>
{% endblock %}