<div class="c-gallery row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 g-md-1 ">
  {% for item in item %}

    {% if item.kind === 'markdown' %}
      <div class="col-sm-10 col-lg-8 col-xxl-7">
        {% if item.title %}
          <h3 class="text-center">{{ item.title }}</h3>
        {% endif %}
        {% if item.excerpt %}
          <div class="lead mb-4 px-3 text-center">{{ item.excerpt | md | safe }}</div>
        {% endif %}

        {% if item.accordions %}
          <div class="accordion" id="accordion-{{ images.index }}">
            {% for acc in item.accordions %}
              {% set id = ['-',images.index, '-', loop.index] | join%}
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading{{ id }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapse{{ id }}">
                    {{ acc.name }}
                  </button>
                </h3>
                <div id="collapse{{ id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ id }}" data-bs-parent="#accordion-{{ images.index }}">
                  <div class="accordion-body">
                    {{ acc.content | md | safe | replace('≺', '<') | replace('≻', '>') | replace('∥', '"') | replace('<table>', '<table class="table table-sm table-striped table-hover">') }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <hr class="col-sm-12 col-lg-12 opacity-0">
    {% endif %}

    {% if item.kind === 'image' %}

      {% set date %}
      {{ item.groupBy | date('D. M. YYYY') }}
      {% endset %}

      {% set caption %}
      {% if item.objectName %}
        <strong>{{ item.objectName }}</strong><br>
      {% endif %}
      <small>
        {{ date }} ● {% if item.location %}{{ item.location }}, {% endif %}
        {{ item.city }}
      </small>
      {% endset %}

      {% set icoType = "" %}
      {% set icoType %}
      {% if item.type === 'pano' %}
      c-gallery__col--pano
      {% endif %}
      {% if item.type === 'portrait' %}
        c-gallery__col--portrait
      {% endif %}
      {% if item.type === 'fishEye' %}
        c-gallery__col--fish-eye
      {% endif %}
      {% if item.type === 'wideAngle' %}
        c-gallery__col--wide-angle
      {% endif %}
      {% if item.type === 'sphere' %}
      c-gallery__col--sphere
      {% endif %}
      {% endset %}

      {# style="background:url(inline('../../../../static/assets/{{ SOURCE }}/_blur/{{ item.fileName }}')) no-repeat;background-size:cover" #}

      <a class="c-gallery__col {{ icoType | trim }} col" data-fancybox="gallery" data-caption="{{ caption | replace(r/\n/g, '') | replace(r/[\s]+/g, ' ') | trim }}" href="../assets/{{ SOURCE }}/details/{{ item.fileName }}" aria-label="Zobraz vetší obrázek">
        <picture class="c-gallery__pic ratio ratio-16x9" {% if item.where | trim  | length > 0 %} data-title="{{ item.where | trim }}"{% endif %}>
          <source media="(min-width: 576px) or (max-width: 1399px)" type="image/webp" srcset="../assets/{{ SOURCE }}/previews-xl-webp/{{ item.fileName | replace(".jpg", ".webp")}}">
          <source media="(max-width: 575px) or (min-width: 1400px)" type="image/webp" srcset="../assets/{{ SOURCE }}/previews-webp/{{ item.fileName | replace(".jpg", ".webp")}}">
          <img src="../assets/{{ SOURCE }}/previews-xl/{{ item.fileName }}" width="370" height="208" loading="{% if images.index == 1 and loop.index < 4 %}auto{% else %}lazy{% endif %}" alt="{{ item.where }}">
        </picture>
      </a>
    {% endif %}
  {% endfor %}
</div>
