{% for item in item %}
  {% set current_loop = item %}
  {% set bg_image_gallery = "" %}
  {% set bg_image_maps = "" %}
  {% set blurred_class = "" %}
  {%if main_loop_number === 1 %}
    {% set blurred_class %}blurred-img{% endset %}
    {% set bg_image_gallery %}style="background-image:url('../assets/{{ DATA_DIR }}/blurs/{{ item.fileName | replace(".jpg", ".png")}}')"{% endset %}
    {% set bg_image_maps %}style="background-image:url('../assets/{{ DATA_DIR }}/blurs/{{ item.src }}')"{% endset %}
  {% endif %}

  {% if item.kind === 'markdown' %}
    <div class="container-xl">
      <div class="col-sm-10 col-lg-8 col-xxl-7 mx-auto mb-5">
        {% if item.title %}
          <h3 class="text-center">{{ item.title }}</h3>
        {% endif %}
        {% if item.excerpt %}
          <div class="lead mb-4 px-3 text-center">{{ item.excerpt | md | safe }}</div>
        {% endif %}

        {% if item.accordions %}
          <div class="accordion" id="accordion-{{ images.index }}">
            {% for acc in item.accordions %}
              {% set id = ['-',images.index, '-', loop.index] | join%}
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading{{ id }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id }}" aria-expanded="true" aria-controls="collapse{{ id }}">
                    {{ acc.name }}
                  </button>
                </h3>
                <div id="collapse{{ id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ id }}" data-bs-parent="#accordion-{{ images.index }}">
                  <div class="accordion-body">
                    {{ acc.content | md | safe | replace('≺', '<') | replace('≻', '>') | replace('∥', '"') | replace('<table>', '<table class="table table-sm table-striped table-hover">') }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if item.maps %}
      <div class="container-xl">
        <div class="c-map-scroll ratio mb-5">
          <div class="c-map-scroll__container">
            {% for item in item.maps %}
              <a class="c-map-scroll__item" href="../assets/{{ DATA_DIR }}/maps-details/{{ item.src }}"  data-fancybox="gallery"  data-caption="{{ item.name }}" aria-label="Zobraz vetší obrázek">
                <picture class="{{blurred_class}}" {{bg_image_maps}}>
                  <source media="(min-width: 576px)" type="image/webp" srcset="../assets/{{ DATA_DIR }}/maps-xl-webp/{{ item.src | replace(".png", ".webp")}}">
                  <source media="(min-width: 576px)" type="image/png" srcset="../assets/{{ DATA_DIR }}/maps-xl/{{ item.src }}">

                  <source media="(max-width: 575px)" type="image/webp" srcset="../assets/{{ DATA_DIR }}/maps-xxs-webp/{{ item.src | replace(".png", ".webp")}}">
                  <img class="c-map-scroll__image w-100" src="../assets/{{ DATA_DIR }}/maps-xxs/{{ item.src }}" width="388" height="252" alt="{{ item.name }}" loading="{% if loop.index == 1 %}eager{% else %}lazy{% endif %}">
                </picture>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if item.body %}
      {{ item.body | md | safe }}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="container-xl">
  <div class="c-gallery row row-cols-1 row-cols-xs-2 row-cols-lg-3 row-cols-xxl-4 g-2">
    {% for item in item %}
      {% if item.kind === 'location' %}
        <div class="c-gallery__col col ">
          <div class="c-gallery__pic ratio ratio-16x9  bg-secondary-subtle">
            <div class="p-4 d-flex align-items-start flex-column">
            <div class="fs-5">{{ item.city }}</div>
            {{ item.where }}
          </div>
          </div>
        </div>
      {% endif %}

      {% if item.kind === 'image' %}

        {% set date %}
        {{ item.groupBy | date('D. M. YYYY') }}
        {% endset %}

        {% set caption %}
        {% if item.objectName %}
          <strong>{{ item.objectName }}</strong><br>
        {% elif item.caption %}
          <strong>{{ item.caption }}</strong><br>
        {% endif %}
        <small>
          {{ date }} ● {% if item.location %}{{ item.location }}, {% endif %}
          {{ item.city }}
        </small>
        {% endset %}

        {% set icoType = "" %}
        {% set icoType %}
        {% if item.type === 'pano' %}c-gallery__col--pano{% endif %}
        {% if item.type === 'portrait' %}c-gallery__col--portrait{% endif %}
        {% if item.type === 'fishEye' %}c-gallery__col--fish-eye{% endif %}
        {% if item.type === 'wideAngle' %}c-gallery__col--wide-angle{% endif %}
        {% if item.type === 'sphere' %}c-gallery__col--sphere{% endif %}
        {% endset %}

        {% set bg_image_gallery = "" %}
        {% set blurred_class = "" %}
        {%if main_loop_number === 1 %}
          {% set blurred_class %}blurred-img{% endset %}
          {% set bg_image_gallery %}style="background-image:url('../assets/{{ DATA_DIR }}/blurs/{{ item.fileName | replace(".jpg", ".png")}}')"{% endset %}
        {% endif %}

        <a class="c-gallery__col {{ icoType | trim }} col" data-fancybox="gallery" data-caption="{{ caption | replace(r/\n/g, '') | replace(r/[\s]+/g, ' ') | trim }}" href="../assets/{{ DATA_DIR }}/details/{{ item.fileName }}" aria-label="Zobraz vetší obrázek">
          <picture class="c-gallery__pic ratio ratio-16x9 {{blurred_class}}" {% if item.where | trim  | length > 0 %} data-title="{{ item.where | trim }}"{% endif %} {{bg_image_gallery | safe}}>
            <source media="(min-width: 576px) or (max-width: 1399px)" type="image/webp" srcset="../assets/{{ DATA_DIR }}/previews-xl-webp/{{ item.fileName | replace(".jpg", ".webp")}}">
            <source media="(min-width: 576px) or (max-width: 1399px)" type="image/jpeg" srcset="../assets/{{ DATA_DIR }}/previews-xl/{{ item.fileName }}">

            <source media="(max-width: 575px) or (min-width: 1400px)" type="image/webp" srcset="../assets/{{ DATA_DIR }}/previews-webp/{{ item.fileName | replace(".jpg", ".webp")}}">
            <source media="(max-width: 575px) or (min-width: 1400px)" type="image/jpeg" srcset="../assets/{{ DATA_DIR }}/previews/{{ item.fileName }}">

            <img src="../assets/{{ DATA_DIR }}/previews-xxs/{{ item.fileName }}" width="190" height="107" loading="{% if images.index == 1 and loop.index < 4 %}eager{% else %}lazy{% endif %}" alt="{{ item.where }}">
          </picture>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
