@use 'sass:map';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';

// @import './temp/assets/css/fonts';

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices

body {
  min-width: 320px;

  // stylelint-disable-next-line selector-no-qualifying-type
  &[data-template='changelog'] {
    h2:not(:first-child) {
      padding-top: map.get($spacers, 4);
    }

    h3 {
      font-size: $h6-font-size;
      color: $gray-600;
    }
  }
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  background-color: var(--body-color);

  .btn-link {
    text-decoration: none;
    color: rgb(255 255 255 / 55%);

    svg {
      transition: fill 0.15s ease-in-out;
    }

    &:hover,
    &:focus {
      color: var(--orange);
    }

    &:focus-within svg,
    &:hover svg,
    &:focus svg {
      fill: var(--orange);
    }
  }
}

article ~ section {
  padding-top: map.get($spacers, 5);
}

article + section {
  @media (orientation: portrait) {
    padding-top: 0;
  }
}

.t-day-heading-small {
  display: block;
  font-weight: 400;
  font-size: 0.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.8;

  &::after,
  &::before {
    content: '———';
    letter-spacing: -0.3em;
    opacity: 0.34;
  }

  &::before {
    margin-right: 1em;
  }

  &::after {
    margin-left: 0.5em;
  }
}

// stylelint-disable-next-line selector-max-specificity
body:has(.title-switch__input:checked) .ratio[data-title]::after {
  opacity: 1;
}

.title-switch {
  &:focus-within {
    box-shadow: var(--btn-focus-box-shadow);
  }

  .title-switch__input {
    ~ .title-switch__icon--off {
      display: none;
    }
  }

  .title-switch__input:checked {
    ~ .title-switch__icon--on {
      display: none;
    }

    ~ .title-switch__icon--off {
      display: inline-block;
    }
  }
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map.get($spacers, 5);
  padding-bottom: map.get($spacers, 3);
  color: map.get($grays, '600');
}

//
// --------------

@media all and (min-width: 1024px) {
  body .fancybox__slide {
    padding-bottom: 1rem;
  }
}

.t-overflow-90vw {
  width: 90vw;
  max-width: 90vw;
  object-fit: cover;
  padding: map.get($spacers, 3);
  margin: 0 calc(-45vw + 50%);
  overflow: auto;
  border-radius: var(--border-radius);
  background: var(--body-bg);
  box-shadow: var(--accordion-btn-focus-box-shadow);
}

// .parallax__wrapper {
//   height: 50vh;
//   overflow-x: hidden;
//   overflow-y: auto;
//   perspective: 300px;
//   border: solid red;
// }

// .parallax__group {
//   position: relative;
//   height: 100vh;
//   width: 100vw;
//   transform-style: preserve-3d;
// }

// .parallax__layer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

// .sky {
//   background: navy no-repeat center;
//   background-size: cover;
//   transform: translateZ(-600px) scale(3);
//   z-index: 1;
// }

// .bushes {
//   background: violet no-repeat center;
//   background-size: cover;
//   transform: translateZ(-525px) scale(2.75);
//   z-index: 2;
// }

// .water {
//   background: lime no-repeat center;
//   background-size: cover;
//   transform: translateZ(-400px) scale(2.33333333);
//   z-index: 3;
// }

.c-map-scroll {
  --aspect-ratio: 64%;

  max-height: 60vh;
}

.scroll-container {
  overflow: auto;

  // scroll-snap-points-y: repeat(300px);
  // scroll-padding-top: 15vh;
  counter-reset: section;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
}

.scroll-item {
  position: relative;
  display: block;
  counter-increment: section;
  color: var(--white);

  &::before {
    content: counter(section);
    position: absolute;
    top: 1.5rem;
    left: calc(100% - 5.5rem);
    z-index: 1;
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0.25em;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(0 0 0 / 50%);

    // transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
  }

  &:hover::before {
    color: var(--white);
    background-color: var(--primary);
  }
}

.scroll-item-image {
  display: block;
  max-height: 100%;
  margin: auto;
  scroll-snap-align: start;
}
