// stylelint-disable function-url-quotes

// stylelint-disable-next-line selector-no-qualifying-type
html[lang='cs'] {
  @mixin font-family-overrides {
    ascent-override: 108%; // Segoe UI
    descent-override: 25%; // Segoe UI
    // line-gap-override: 0%
    // ascent-override: 95%; // Roboto
    // descent-override: 25%; // Roboto
    // ascent-override: 110%; // Arial
    // descent-override: 31%; // Arial
  }

  @font-face {
    font-style: normal;
    font-weight: 900;
    font-family: MyFont;
    font-display: swap;

    // prettier-ignore
    src: url('/assets/fonts/font-black-cs.woff2') format('woff2'), url('/assets/fonts/font-black-cs.woff') format('woff');

    @include font-family-overrides();
  }

  // @font-face {
  //   font-style: normal;
  //   font-weight: 700;
  //   font-family: MyFont;
  //   // prettier-ignore
  //   src: url('/assets/fonts/font-bold-cs.woff2') format('woff2'), url('/assets/fonts/font-bold-cs.woff') format('woff');
  //   font-display: swap;

  //   @include font-family-overrides;
  // }

  @font-face {
    font-style: normal;
    font-weight: 600;
    font-family: MyFont;
    font-display: swap;

    // prettier-ignore
    src: url('/assets/fonts/font-semibold-cs.woff2') format('woff2'), url('/assets/fonts/font-semibold-cs.woff') format('woff');

    @include font-family-overrides();
  }

  // @font-face {
  //   font-style: normal;
  //   font-weight: 500;
  //   font-family: MyFont;
  //   // prettier-ignore
  //   src: url('/assets/fonts/font-semibold-cs.woff2') format('woff2'), url('/assets/fonts/font-semibold-cs.woff') format('woff');
  //   font-display: swap;

  //   @include font-family-overrides;
  // }

  @font-face {
    font-style: normal;
    font-weight: 400;
    font-family: MyFont;
    font-display: swap;

    // prettier-ignore
    src: url('/assets/fonts/font-regular-cs.woff2') format('woff2'), url('/assets/fonts/font-regular-cs.woff') format('woff');

    @include font-family-overrides();
  }
}
